* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    text-align: center;
    color: white;
    font-family: open_sans, sans-serif;
    width: 100vw;
    height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .header {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 11rem;
            .logo {
                @include tablet {
                    text-align: left;
                    } 
                img {
                    @include tablet {
                        width: 22.335%;
                        transform: translate(70%, 33%);
                    }
                    @include desktop {
                        width: 22%;
                        transform: translate(15%,30%);
                    } 
                }
            }
            
            form {
                padding-bottom: 12.5rem;
                .drop-down {
                    width: 8rem;
                    font-size: 1.1rem;
                    @include tablet {
                        transform: translate(5%, -276%);
                    }
                    @include desktop {
                        transform: translate(-125%,-380%);
                        width: 7.813rem;
                    } 
                }
            }

            p {
                padding: 1rem 0;
                font-size: .8rem;
                @include tablet {
                    font-size: .9rem;
                    transform: translate(0%,-164%);
                } 
                @include desktop {
                    transform: translate(-15.5%,-206%);
                    font-size: 1rem;
                    line-height: 1rem;
                } 
                
            }
        
        }

        
    }
}

body {
    .newContainer {
        height: auto;
        .header {
            padding-top: 2rem;
            @include tablet {
                padding-bottom: 0;
                padding-top: 1.7rem;
            }
            .logo {
                
                img {
                    width: 37.5%;
                    @include tablet {
                        width: 11.167%;
                        transform: translate(136%,8%);
                    }
                    @include desktop {
                        width: 4.1875rem;
                        transform: translate(49%,8%);
                    } 
                }   
            }
            
            form {
                padding-bottom: 3.4375rem;
                @include tablet {
                    padding-bottom: 0;
                }
                .drop-down {
                @include tablet {
                    transform: translate(5%,-184%);
                }
                @include desktop {
                    transform: translate(-205%,-184%);
                }    
                }
            }

            p {
                @include tablet {
                    padding: 0;
                    transform: translate(0%,-460%);
                }
                @include desktop {
                    transform: translate(-25.5%,-403%);
                } 
            }
        
        }
        .footer {
            padding-top: 8%;
            @include tablet {
                padding: 5% 0 8% 0;
            }
            @include desktop {
                padding-top: 0;
            }
        }

        
    }
}

.loader {
    img {
        width: 4%;
        display: none;
        z-index: 99;
        position: absolute;
    }
}

.stories {
    display: flex;
    flex-wrap: wrap;
    div {
        color: white;
        width: 100%;
        position: relative;
        max-width: 100%;
        
        @include tablet {
            flex-basis: 50%;
        }
        @include desktop {
            flex-basis: 25%;
        }
        img {  
            position: relative;
            max-width: 100%;
            width: 100%;
            height: 417px;
            object-fit: cover;
        }   
        a {
            color: white;
            position: relative;
            width: 100%;
            max-width: 100%;        
        }
        p {
            color: white;
            position: absolute;
            bottom: 0%;
            width: 100%;
            max-width: 100%;
            background: rgba(0,0,0,.6);
            line-height: 1.5rem;
            font-weight: 100;
            padding: .5rem;
            text-align: left;
        }
    }
    
}

.footer {
    padding-bottom: 11.5%;
    color: $footer-color;
    font-size: .9rem;
    @include tablet {
        padding-bottom: 8%;
    }
    @include desktop {
        text-align: left;
    }
    .copyright {
        
        p {
            @include desktop {
                transform: translate(3.2%,226%);
            }
            span {
                text-transform: uppercase;
            }
        }
    }
}